<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net 
      http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<mapping>
		<class-a>com.acheron.resource.mngt.entity.Campaign</class-a>
		<class-b>com.acheron.resource.mngt.vo.CampaignVO</class-b>
		
	</mapping>

	<mapping>
		<class-a>com.acheron.resource.mngt.entity.Project</class-a>
		<class-b>com.acheron.resource.mngt.vo.ProjectVO</class-b>

	</mapping>
	<mapping>
		<class-a>com.acheron.resource.mngt.entity.Task</class-a>
		<class-b>com.acheron.resource.mngt.vo.TaskVO</class-b>

	</mapping>
	<mapping>
		<class-a>com.acheron.resource.mngt.entity.Resource</class-a>
		<class-b>com.acheron.resource.mngt.vo.ResourceVO</class-b>

	</mapping>
	

</mappings>